*.iml
/local.properties
.gradle/
build/
*/build/
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/vcs.xml
*.iws
*.hprof
*.orig
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
